
<div class="panel panel-success">
	  <% if notice != nil %>
      <div class="panel-heading"><%= notice %></div>
      <% else %>
      <div class="panel-heading">Information</div>
      <% end %>
      <div class="panel-body">

      	<p>
		  <strong>ID:</strong>
		  <%= @subject.sub_id %>
		</p>

		<p>
		  <strong>Name:</strong>
		  <%= @subject.sub_name %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @subject.sub_des %>
		</p>

		<%= link_to t('shared.edit'), edit_subject_path(@subject), class: "btn btn-primary" %>
		<%= link_to t('shared.confirm'), root_path, class: "btn btn-success", style: 'colur=black;' %>

      </div>
</div>


